.Col12 {
  margin-top: 30px;
}
img {
  width: 50px;
  height: 50px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center img {
  margin-right: 10px;
}
.partition {
  display: grid;
  grid-template-columns: 1fr 3fr;
  .flex-start {
    justify-content: flex-start;
  }
}
.containSize {
  contain: size;
  height: auto;
  margin-top: 30px;
}

p-table{
  display: inline-block;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box{
  margin-left: 10px;
}
.my-card{
  padding: 0px 5em;
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica,
    Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
  text-align: center;
  text-shadow: 10px;
}

.p-button-success-2{
  color:#54af37 !important;
}

:host ::ng-deep .p-multiselect {
  min-width: 15rem;
  width: 18rem;
}

:host ::ng-deep .multiselect-custom {
  .p-multiselect-label {
      padding-top: .25rem;
      padding-bottom: .25rem;
  }

  .country-item-value {
      padding: .25rem .5rem;
      border-radius: 3px;
      display: inline-flex;
      margin-right: .5rem;
      background-color: var(--primary-color);
      color: var(--primary-color-text);

      img.flag {
          width: 17px;
      }
  }

  .country-placeholder {
      padding: 0.25rem;
  }
}
:host ::ng-deep {
  @media screen and (max-width: 640px) {
      .p-multiselect {
          width: 100%;
      }
  }
}


