<p-card header="{{dashboardWidget.title}}">
    <div class="conf">
     <button pButton pRipple type="button" (click)="updateWidgetDashboard(dashboardWidget.id)"  icon="pi pi-fw pi-pencil" class="p-button-rounded p-button-info p-button-text"></button>
     <button pButton pRipple type="button" (click)="deleteClick()"  icon="pi pi-fw pi-trash" class="p-button-rounded p-button-danger p-button-text"></button>
    </div>
    <div *ngIf="load" [ngSwitch]="widgetType">
        <div *ngSwitchCase="widgetTypeEnum.Table">
            <p-table [value]="results" [scrollable]="true" scrollHeight="700px">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Date</th>
                        <th>Positive Cases</th>
                        <th>Negative Cases</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-tab>
                    <tr>
                        <td>{{tab.date}}</td>
                        <td>{{tab.positive}}</td>
                        <td>{{tab.negative}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div *ngSwitchCase="widgetTypeEnum.Card">
                <p-card class="containSize partition">
                    {{results[0].positive}}
                </p-card>
        </div>
        <div *ngSwitchDefault> 
            <p-chart type="{{dashboardWidget.widget.widgetType.type}}" [data]="basicData" [options]="basicOptions">
            </p-chart>
          </div>
        </div>
</p-card>