<p-card header="{{dashboardWidget.title}}">
    <p-splitButton icon="pi pi-cog" (onClick)="save(dashboardWidget.id)" [model]="items"
        (onDropdownClick)="dropdown(dashboardWidget.id)"></p-splitButton>
        <ng-container *ngIf="isTable; then idTable else noTable">

        </ng-container>
        <ng-template #idTable>
            
            <p-table [value]="results">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Date</th>
                        <th>Positive Cases</th>
                        <th>Negative Cases</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-tab>
                    <tr>
                        <td>{{tab.date}}</td>
                        <td>{{tab.positive}}</td>
                        <td>{{tab.negative}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </ng-template>
        <ng-template #noTable>
            <ng-container *ngIf="isCard; then idCard else default">

            </ng-container>
            <ng-template #idCard>
                <p-card class="containSize partition">
                    <ng-template pTemplate="header">
                        {{Widget.title}}
                    </ng-template>
                    {{results.Total}}
                    <ng-template pTemplate="footer">
                        
                    </ng-template>
                </p-card>
            </ng-template>

            <ng-template #default>
                <p-chart type="{{dashboardWidget.widget.widgetType.type}}" [data]="basicData" [options]="basicOptions">
                </p-chart>
            </ng-template>
        </ng-template>
</p-card>