.conf {
  position: fixed;
  z-index: 999;
  right: 0;
  top: 0px;
  visibility: hidden;
}
p-card:hover .conf {
  visibility: visible;

}

.partition{
  color: black;
}

.cardColor{
  background-color: rgb(143, 241, 233);
}

element {
  --main-bg-color: brown;
}
.element{
  background-color: var(--main-bg-color);
}