.conf {
  position: fixed;
  z-index: 999;
  right: 0;
  top: 0px;
  visibility: hidden;
}
.pcard {
  display: block;
  margin: auto;
}
.pcard:hover .conf {
  visibility: visible;
}

.partition {
  color: black;
}

.cardColor {
  background-color: rgba(61, 226, 255, 0.466);
}

element {
  --main-bg-color: brown;
}
.element {
  background-color: var(--main-bg-color);
}
