<div class="pcard">
    <h2 style="text-align:center">{{dashboardWidget.title}}</h2>
    <div class="conf">
     <button pButton pRipple type="button" (click)="updateWidgetDashboard(dashboardWidget.id)"  icon="pi pi-fw pi-pencil" class="p-button-rounded p-button-info p-button-text"></button>
     <button pButton pRipple type="button" (click)="deleteClick()"  icon="pi pi-fw pi-trash" class="p-button-rounded p-button-danger p-button-text"></button>
    </div>
    <div *ngIf="load" [ngSwitch]="widgetType">
        <div *ngSwitchCase="widgetTypeEnum.Table">
            <p-table [value]="results" [scrollable]="true" scrollHeight="700px" scrollWidth="900px">
                <ng-template pTemplate="header">
                    <tr>
                        <th  *ngFor="let th of selectedKeys" >{{th.label}}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-tab>
                    <tr>
                        <td  *ngFor="let th of selectedKeys">{{tab[th.key]}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div *ngSwitchCase="widgetTypeEnum.Card">
                <p-card class="containSize partition" styleClass="cardColor">
                    <div class="p-d-flex">
                        <p  style="font-weight: bold;">{{result.label}}</p>
                    <p-divider layout="vertical" ></p-divider>
                    <p  style="font-weight: 500;">{{result.key}}</p>
                    </div>
                </p-card>
        </div>
        <div *ngSwitchDefault> 
            <p-chart type="{{dashboardWidget.widget.widgetType.type}}" [data]="basicData" [options]="basicOptions">
            </p-chart>
          </div>
    </div>
</div>