
 <form (ngSubmit)="onSubmit(rest)" #rest="ngForm">
    <p-messages [(value)]="msgs" [enableService]="false"></p-messages>
    <div class="headerShared">
      <h4>New REST API</h4>
  </div>
  <br>
  <!--Title and Description -->
  <p-card *ngIf="informationCard">
    <div class="p-col-12 p-fluid p-grid">
        <div class="p-field p-col-12 p-md-6">
          <h5>Data Source Name *</h5>
          <input type="text" pInputText [(ngModel)]="dataSource.title" name="title" placeholder="Enter a name" required />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <h5>Description</h5>
          <textarea rows="5" cols="65" name="description" type="text" rows="4" pInputTextarea
            [(ngModel)]="dataSource.description"></textarea>
        </div>
      </div>
  <p-divider></p-divider>
  <!--Host and Authentication-->
    <div class="p-col-12 p-fluid p-grid">
        <div class="p-field p-col-12 p-md-6">
          <h5>Rest Host *</h5>
          <input type="text" pInputText [(ngModel)]="dataSource.url" name="url" placeholder="Enter a host" required />
        </div>
         <div class="p-field p-col-12 p-md-6">
          <h5>Authentication Type </h5>
          <p-dropdown [options]="authenticationType" [(ngModel)]="selectedAuthetification" name="selectedAuthetification" optionLabel="name" placeholder="Select a type" [showClear]="true"></p-dropdown>
        </div>
      </div>
      <div *ngIf='selectedAuthetification' [ngSwitch]="selectedAuthetification.name">
        <p-divider></p-divider>
        <div class="p-col-12 p-fluid p-grid" *ngSwitchCase="'Basic Authentication'">
          <div class="p-md-6">
            <h5>User Id for basic authentication </h5>
            <input type="text" pInputText [(ngModel)]="dataSource.userName" name="userName" />
          </div>
          <div class="p-md-6">
            <h5>Password  for basic authentication </h5>
            <input type="text" pInputText [toggleMask]="true" type="password" [(ngModel)]="dataSource.password" name="password" />
          </div>
        </div>
        <div class="p-col-12 p-fluid p-grid"  *ngSwitchCase="'Bearer Token'">
          <div class="p-md-6">
            <h5>Access Token </h5>
            <input type="text" pInputText [(ngModel)]="dataSource.token" name="token" />
          </div>
        </div>
        <div  class="p-col-12 p-fluid p-grid" *ngSwitchDefault>
          <div class="p-md-6">
            <div class="card">
               Auth URL Params
              <button (click)="addParam()" pButton pRipple type="button"  icon="pi pi-plus"  class="p-button-rounded p-button-text p-button-success"></button>
             <p-table [value]="params" dataKey="id">
                  <ng-template pTemplate="header">
                      <tr>
                          <th>Key</th>
                          <th>Value</th>
                          <th style="width:8rem"></th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-param>
                      <tr>
                          <td pEditableColumn>
                              <p-cellEditor>
                                  <ng-template pTemplate="input">
                                      <input pInputText type="text" [(ngModel)]="param.code" name="param.code" placeholder="key">
                                  </ng-template>
                                  <ng-template pTemplate="output">
                                      {{param.code}}
                                  </ng-template>
                              </p-cellEditor>
                          </td>
                          <td pEditableColumn>
                              <p-cellEditor>
                                  <ng-template pTemplate="input" >
                                      <input pInputText type="text" [(ngModel)]="param.value" name="value" placeholder="value">
                                  </ng-template>
                                  <ng-template pTemplate="output">
                                      {{param.value}}
                                  </ng-template>
                              </p-cellEditor>
                          </td>
                          <td style="text-align:center">
                            <button (click)="DeleteParam(param)" pButton pRipple type="button"  icon="pi pi-trash"  class="p-button-rounded p-button-text p-button-danger"></button>
                        </td>
                      </tr>
                  </ng-template>
              </p-table>
          </div>

          </div>
        </div>
     </div>
     <p-divider></p-divider>
     <!--Test Connection and next-->
     <div class="p-col-12">
        <button pButton pRipple  (click)="testConnection()" type="button" label="Test Connection" class="p-button-rounded p-button-info"></button>
         <button class="colorButton" [disabled]="!rest.valid"  (click)="preview()" label="Next" pButton pRipple type="button" style="text-align:right" class="p-button-rounded p-button-info" ></button>
    </div>
  </p-card>
  <!--Nested table and Desplay-->
  <p-card *ngIf="displayCard">
      <p-table *ngIf="!notNormal" #dt2 [value]="results" [scrollable]="true" dataKey="id" [style]="{maxWidth:'1169px'}"
      [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5]" styleClass="p-datatable-customers"
      [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [globalFilterFields]="cols">
      <ng-template pTemplate="caption">
          <div class="p-d-flex">
              <span class="p-input-icon-left p-ml-auto">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
              </span>
          </div>
      </ng-template>
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup >
            <col style="width:250px"  *ngFor="let col of cols">
        </colgroup>
    </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let col of cols">{{col.header}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td *ngFor="let col of cols">{{product[col.field]}}</td>
            </tr>
        </ng-template>
      </p-table>
      <!--Ici il y aura un choix pour définir la table concernée-->
    <div *ngIf="notNormal">
      <b>  There are several nested tables, you must choose one.</b>
      <p-tree  [value]="resultsFormatedToTree" selectionMode="single" [(selection)]="selectedItem"
              (onNodeSelect)="tabeSelect($event)" ></p-tree>
      <div>Selected Table: {{selectedItem ? selectedItem.label : 'none'}} </div>

      <p-table *ngIf="selectedItems.length >0" #dt2 [value]="selectedItems" [scrollable]="true" dataKey="id" [style]="{maxWidth:'1100px'}"
      [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5]" styleClass="p-datatable-customers"
      [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
     >
      <ng-template pTemplate="caption">
          <div class="p-d-flex">
              <span class="p-input-icon-left p-ml-auto">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
              </span>
          </div>
      </ng-template>
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup >
            <col style="width:250px"  *ngFor="let col of cols2">
        </colgroup>
    </ng-template>
      <ng-template pTemplate="header">
        <tr>
                <th *ngFor="let col of cols2">
                    {{col.header}}
                </th>
            </tr>
      </ng-template>
      <ng-template pTemplate="body" let-tab>
        <tr>
            <td  *ngFor="let col of cols2">
                <div class="description">
                    {{tab[col.field]}}
                </div>
            </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
          <tr>
              <td colspan="5">No results found.</td>
          </tr>
      </ng-template>
     </p-table>
  </div>
    <button pButton pRipple [disabled]="notNormal && selectedItems.length ==0 "   type="submit" label="Save" class="p-button-rounded p-button-success"></button>
</p-card>
</form>
