
  <p-dialog header="New dashboard"  [(visible)]="display" [modal]="true"  [baseZIndex]="10000"
  [draggable]="false" [resizable]="false">
    <app-dashboard-edition></app-dashboard-edition>
  </p-dialog>
  <div class="headerShared">
    <h4>Available Dashboards</h4>
    <div style="text-align: right;">
      <button class="colorButton" (click)="showDialog()"  pButton pRipple type="button" label="New Dashboard" style="text-align:right" icon="pi pi-plus" class="p-button-rounded p-button-success p-button-text" ></button>
      </div>
  </div>
  <br>
  <p-toast></p-toast>
  <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
  <div class="p-grid">
    <div *ngFor="let dashboard of dashboards">
      <p-card [style]="{'background':'rgb(254, 254, 254)', 'cursor': 'pointer'}" styleClass="cardCursor">
        <div (click)="goToDashboard(dashboard)">
          <h3>{{ dashboard.title }}</h3>
          <p class="description">    {{dashboard.description}}</p>
        </div>
      <footer>
    <button pButton pRipple type="button" title="Edit" (click)="updateDashboard(dashboard)"  icon="pi pi-fw pi-pencil" class="p-button-rounded p-button-info p-button-text"></button>
     <button pButton pRipple type="button" title="Delete" (click)="onDelete(dashboard)" icon="pi pi-fw pi-trash" class="p-button-rounded p-button-danger p-button-text"></button>
      </footer>
    </p-card>

    </div>
  </div>
