<p-toast position="bottom-center" key="a" (onClose)="onReject()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
      <div class="p-flex p-flex-column" style="flex: 1">
          <div class="p-text-center">
              <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
              <h4>{{message.summary}}</h4>
              <p>{{message.detail}}</p>
          </div>
          <div class="p-grid p-fluid">
            <div class="p-col-6">
              <button type="button" pButton (click)="onConfirm()" label="Yes" class="p-button-help"></button>
          </div>
          <div class="p-col-6">
              <button type="button" pButton (click)="onReject()" label="No" class="p-button-secondary"></button>
          </div>
          </div>
      </div>
  </ng-template>
</p-toast>
<button pButton pRipple type="button" label="New Widget" style="text-align:right" routerLink='/addWidget' icon="pi pi-plus" class="p-button-rounded p-button-help p-button-text" ></button>
<div class="p-col-12" style="text-align:center">
    <h3>Widgets</h3>
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input type="text" pInputText name="search" placeholder="Search" [(ngModel)]="searchText" />
  </span>
</div>
<div class="p-grid">
    <div *ngFor="let widget of myWidgets | filter: searchText">
      <p-card>
        <div>
          <h3>{{widget.title }}</h3>
          <p class="description"> {{widget.description}}</p>
        </div>
      <footer>
        <button pButton pRipple type="button" (click)="updateWidget(widget)"  icon="pi pi-fw pi-pencil" class="p-button-rounded p-button-info p-button-text"></button>
        <p-messages *ngIf="err" [(value)]="errDeletingMsgs" [enableService]="false"></p-messages>
        <button pButton pRipple type="button" (click)="onDeleteWidget(widget)" icon="pi pi-fw pi-trash" class="p-button-rounded p-button-danger p-button-text"></button>
       </footer>
    </p-card>
  
    </div>
</div>
  