<div class="my-card">
    <div class="p-col-12 p-fluid p-grid">
        <div class="p-field p-col-12 p-md-6">
            <p-table [value]="allKeys" [scrollable]="true" scrollHeight="250px" [style]="{ width: '450px' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Measures</th>
                        <th></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-tab>
                    <tr>
                        <td>{{ tab.key }}</td>
                        <td></td>
                        <td>
                            <button pButton pRipple type="button" icon="pi pi-check"
                                class="p-button-rounded p-button-outlined"
                                (click)="onSelectedKey(tab.key, tab.id)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="p-field p-col-12 p-md-6" >
            <p-table [value]="widget.metaDataSources" [scrollable]="true" scrollHeight="250px" [style]="{ width: '450px' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Selected Keys</th>
                        <th>Labels</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-tab>
                    <tr>
                        <td>{{ tab.key }}</td>
                        <td>
                            <input type="text" pInputText [(ngModel)]="tab.label" name="{{ tab.label }}"
                                placeholder="Add a label" />
                        </td>
                        <td>
                            <button pButton pRipple type="button" icon="pi pi-times"
                                class="p-button-rounded p-button-danger p-button-outlined"
                                (click)="onRemovedKey(tab.key, tab.id)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div class="p-col-12 p-fluid p-grid">
                 <!--Filter and Pagination -->
                  <p-table  *ngIf="widget.metaDataSources.length>0" class="p-field p-col-12 p-md-12" #dt2 [value]="results" [scrollable]="true" dataKey="id"  [style]="{maxWidth:'750px'}"
                  [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5]" styleClass="p-datatable-customers"
                  [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                  [globalFilterFields]="customTable">
                  <ng-template pTemplate="caption">
                      <div class="p-d-flex">
                          <span class="p-input-icon-left p-ml-auto">
                              <i class="pi pi-search"></i>
                              <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
                          </span>
                      </div>
                  </ng-template>
                  <ng-template pTemplate="colgroup" let-columns>
                    <colgroup >
                        <col style="width:250px" *ngFor="let col of widget.metaDataSources">
                    </colgroup>
                </ng-template>
                  <ng-template pTemplate="header">
                    <tr>
                        <th *ngFor="let th of widget.metaDataSources">
                            {{th.label}}
                        </th>
                    </tr>
                    <tr>
                        <th *ngFor="let col of cols">
                        </th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-tab>
                    <tr>
                        <td  *ngFor="let th of widget.metaDataSources">
                            <div class="description">
                                {{tab[th.key] | formatingData}}
                            </div>
                        </td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                      <tr>
                          <td colspan="5">No results found.</td>
                      </tr>
                  </ng-template>
              </p-table>
    </div>



        <!--Filter and Pagination End -->
        <div class="p-col-12 Col12">
            <p-divider></p-divider>
        </div>
</div>
