
 <form (ngSubmit)="onSubmit(rest)" #rest="ngForm">
    <p-messages [(value)]="msgs" [enableService]="false"></p-messages>
    <div class="headerShared">
      <h4>Update Rest Data Source</h4>
  </div>
  <br>
  <!--Title and Description -->
  <p-card *ngIf="informationCard">
    <div class="p-col-12 p-fluid p-grid">
        <div class="p-field p-col-12 p-md-6">
          <h5>Data Source Name *</h5>
          <input type="text" pInputText [(ngModel)]="dataSource.title" name="title" placeholder="Enter a name" required />
        </div>
        <div class="p-field p-col-12 p-md-6">
          <h5>Description</h5>
          <textarea rows="5" cols="65" name="description" type="text" rows="4" pInputTextarea
            [(ngModel)]="dataSource.description"></textarea>
        </div>
      </div>
  <p-divider></p-divider>
  <!--Host and Authentication-->
     <!--Test Connection and next-->
     <div class="p-col-12">
        <button pButton pRipple  type="submit" label="Save" class="p-button-rounded p-button-success"></button>
    </div>
  </p-card>
  <!--Nested table and Desplay-->
</form>
