<div class="header">
  {{dashboard.title}}
  <button pButton pRipple type="refresh" label="" icon="pi pi-refresh" class="p-button-rounded p-button-info p-button-text"></button>
  <button pButton pRipple type="button" label="" icon="pi pi-bookmark" class="p-button-rounded p-button-info p-button-text"></button>
  <button pButton pRipple type="button" label="search" icon="pi pi-search" class="p-button-rounded p-button-info p-button-text"></button>
  <button pButton pRipple type="button" label="share" icon="pi pi-fw pi-users" class="p-button-rounded p-button-info p-button-text"></button>
  <button pButton pRipple type="button" *ngIf="!editMode" (click)="OnEdit()" label="edit"  icon="pi pi-fw pi-pencil" class="p-button-rounded p-button-info p-button-text"></button>
  <button pButton pRipple type="button"  *ngIf="editMode" [hidden]="editMode" (click)="OnEdit()" label="save" icon="pi pi-check" class="p-button-rounded p-button-info p-button-text"></button>
  <button pButton pRipple type="button" label="delete" icon="pi pi-fw pi-trash" class="p-button-rounded p-button-danger p-button-text"></button>
</div>
<gridster *ngIf="load" [options]="options">
  <gridster-item [item]="item" *ngFor="let item of dashboardGridster">
    <app-dashboard-widget (deleted)="onDeletedClick($event, item)" [dashboardWidget]="item.widgetdashboard"></app-dashboard-widget>
  </gridster-item>
</gridster>