<p-toast position="bottom-center" key="a" (onClose)="onReject()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
      <div class="p-flex p-flex-column" style="flex: 1">
          <div class="p-text-center">
              <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
              <h4>{{message.summary}}</h4>
              <p>{{message.detail}}</p>
          </div>
          <div class="p-grid p-fluid">
              <div class="p-col-6">
                  <button type="button" pButton (click)="onConfirm()" label="OK" class="p-button-success"></button>
              </div>
              <div class="p-col-6">
                  <button type="button" pButton (click)="onReject()" label="Cancel" class="p-button-secondary"></button>
              </div>
          </div>
      </div>
  </ng-template>
</p-toast>

<p-toast position="bottom-center" key="b" (onClose)="onReject()" [baseZIndex]="5000">
  <ng-template let-message pTemplate="message">
      <div class="p-flex p-flex-column" style="flex: 1">
          <div class="p-text-center">
              <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
              <h4>{{message.summary}}</h4>
              <p>{{message.detail}}</p>
          </div>
          <div class="p-grid p-fluid">
              <div class="p-col-6">
                  <button type="button" pButton (click)="onConfirm()" label="OK" class="p-button-success"></button>
              </div>
              <div class="p-col-6">
                  <button type="button" pButton (click)="onReject()" label="Cancel" class="p-button-secondary"></button>
              </div>
          </div>
      </div>
  </ng-template>
</p-toast>
<p-toast></p-toast>
<p-sidebar  [modal]="false"  [(visible)]="visibleSidebar" position="right" [style]="{width:'60em'}" [baseZIndex]="10000">
  <app-dashboard-widget-details *ngIf="visibleSidebar" [dashboardWidget]="selectedDashboardWidget.widgetdashboard"></app-dashboard-widget-details>
</p-sidebar>
<p-sidebar header="Hey" [modal]="false" [(visible)]="visibleSidebarCard" position="right" [style]="{width:'60em'}" [baseZIndex]="10000">
  <h2 style="font-weight:normal"><strong>Widget Details</strong></h2>
  <p-card>
      <!--Filter and Pagination -->
      <p-table #dt2 [value]="results" [scrollable]="true" dataKey="id"
      [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5]" styleClass="p-datatable-customers"
      [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [globalFilterFields]="customTable">
      <ng-template pTemplate="caption">
          <div class="p-d-flex">
              <span class="p-input-icon-left p-ml-auto">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
              </span>
          </div>
      </ng-template>
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup >
            <col style="width:250px" *ngFor="let col of cols">
        </colgroup>
    </ng-template>
      <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of cols">
                {{col.label}}
            </th>
        </tr>
        <tr>
            <th *ngFor="let col of cols">
            </th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-tab>
        <tr>
            <td  *ngFor="let col of cols">
                <div class="description">
                    {{tab[col.key]}}
                </div>
            </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
          <tr>
              <td colspan="5">No customers found.</td>
          </tr>
      </ng-template>
  </p-table>
  <!--Filter and Pagination End -->
  </p-card>
<button pButton pRipple style="margin:5px;" icon="pi pi-file-pdf" (click)="onExportPdf()" label="&nbsp;Export&nbsp;" class="p-button-rounded p-button-success"></button>
</p-sidebar>
<p-overlayPanel #op [showCloseIcon]="true" [style]="{width: '300px', marginLeft:'-150px'}" >
      <div *ngFor="let team of teams" class="p-field-checkbox p-field-radiobutton">
        <p-radioButton [inputId]="team.id"  [value]="team" name="team" [(ngModel)]="selectedTeam"  ngDefaultControl (onClick)="onRowSelect()"></p-radioButton>
        <label [for]="team.id">{{team.title}}</label>
       </div>
</p-overlayPanel>
<div *ngIf="load">
<p-divider ></p-divider>
<div class="headerShared">
  <b>{{dashboard.title}}</b>
  <span class="p-input-icon-left">
    <i class="pi pi-search"></i>
    <input type="text" pInputText name="search" placeholder="Search" [(ngModel)]="searchText" />
</span>
  <button pButton pRipple type="refresh" label="" (click)="reload()" icon="pi pi-refresh" class="p-button-rounded p-button-info p-button-text"></button>
  <button pButton pRipple type="button" label="" icon="pi pi-bookmark" class="p-button-rounded p-button-info p-button-text"></button>
  <button pButton pRipple type="button" label="share"  [label]="selectedTeam ? selectedTeam.title : 'Share'"  (click)="op.toggle($event)" icon="pi pi-fw pi-users" class="p-button-rounded p-button-secondary p-button-text"></button>
  <button pButton pRipple type="button" *ngIf="!editMode" (click)="OnEdit(false)" label="edit"  icon="pi pi-fw pi-pencil" class="p-button-rounded p-button-info p-button-text"></button>
  <button pButton pRipple type="button" *ngIf="editMode" (click)="OnEdit(false)" label="save" icon="pi pi-check" class="p-button-rounded p-button-info p-button-text"></button>
  <button pButton pRipple type="button" *ngIf="editMode" (click)="OnEdit(true)" label="cancel" icon="pi pi-times" class="p-button-rounded p-button-warning p-button-text"></button>
  <button pButton pRipple type="button" label="delete" (click)="OnDelete()" icon="pi pi-fw pi-trash" class="p-button-rounded p-button-danger p-button-text"></button>
  <button pButton pRipple type="button" label="add widget" (click)="addWidget()" icon="pi pi-plus" class="p-button-rounded p-button-success p-button-text"></button>
</div>
<p-divider ></p-divider>
<app-widget-panel *ngIf="add" class="panel"  (added)="onAddedClick($event)" (hidden)="onHiddenClick($event)"></app-widget-panel>
<gridster  [options]="options">
  <div class="message" *ngIf="empty && dashboardGridster.length==0">
    <h3>This dashboard doesn't have widgets just yet!</h3>
    <p>Add one or more widgets from Library.</p> 
   <button pButton pRipple type="button" label="add a widget" (click)="addWidget()" class="p-button-rounded p-button-success"></button>
  </div>
  <gridster-item [item]="item" *ngFor="let item of dashboardGridster | filter: searchText">
    <app-dashboard-widget (selectedDashboardWidget)="onShowDetails($event, item)"  (selectedCard)="showDetails($event)" (deleted)="onDeletedClick($event, item)" [dashboardWidget]="item.widgetdashboard"></app-dashboard-widget>
  </gridster-item>
</gridster>
</div>