
<form (ngSubmit)="onSubmit(newDashboard)" #newDashboard="ngForm">
    <div class="p-grid">
            <div class="box">
               <h4>Create a Dashboard</h4>
                <h5>Title *</h5>
                <input type="text" pInputText [(ngModel)]="dashboard.title" name="title" required/>
                <h5>Description</h5>
                <textarea
                name="description"
                type="text"
                rows="4"
                pInputTextarea
                [(ngModel)]="dashboard.description"
              ></textarea>
              <div>
                <h5>Team </h5>
                <p-dropdown [options]="teams" [(ngModel)]="this.dashboard.team" placeholder="Select team" [filter]="true" filterBy="title" name="selectedTeam" optionLabel="title" [showClear]="true"></p-dropdown>
              </div>
              <br/>
              <button pButton pRipple [disabled]="!newDashboard.valid"   type="submit" label="Save" class="p-button-rounded p-button-success"></button>
            </div>
           </div>
</form>
