.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  margin-left: 10px;
}
.my-card {
  padding: 1em;
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica,
    Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
  text-align: center;
  text-shadow: 10px;
}
