<form (ngSubmit)="onSubmit(newDashboard)" #newDashboard="ngForm">
    <div class="p-grid">
        <div class="p-col">
          <h4>Update Dashboard</h4>
            <div class="box">
                <h5>Title</h5>
                <input type="text" pInputText [(ngModel)]="dashboard.title" name="title" required />
                <h5>Description</h5>
                <textarea
                name="description"
                type="text"
                rows="4"
                pInputTextarea
                [(ngModel)]="dashboard.description"
              ></textarea>
            </div>
            <br/>
            <button pButton pRipple [disabled]="!newDashboard.valid"   type="submit" label="Save" class="p-button-rounded p-button-help"></button>
        </div>
     </div>
</form>