<p-card header="Add Widget" styleClass="panel">
    <button pButton pRipple type="button" (click)="hideClick()" icon="pi pi-times" class="btn p-button-rounded p-button-danger p-button-outlined"></button>
    <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText name="search" placeholder="Search" [(ngModel)]="searchText" />
    </span>

    <p-scrollPanel [style]="{margin: '20px',  height: '400px'}">
      <app-widget *ngFor="let widget of widgets | filter: searchText" [widget]="widget"  (click)="addWidget(widget)" class="pointer"></app-widget>
      <p-scrollTop target="parent" styleClass="custom-scrolltop" [threshold]="100" icon="pi pi-arrow-up"></p-scrollTop>
    </p-scrollPanel>
    <p-button label="add" (click)="addItem()"></p-button>  
</p-card >

