    <h2 style="font-weight:normal"><strong>Widget Details</strong></h2>
    <!--widget details-->
    <p-card header="{{title}}">
      <div  [ngSwitch]="widget.widgetType.type">
          <div *ngSwitchCase="widgetTypeEnum.Table">
                <!--Filter and Pagination -->
                <p-table  class="p-field p-col-12 p-md-12" style="height: 400px" #dt2 [value]="results"  scrollWidth="900px" [scrollable]="true" dataKey="id"
                [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5]" styleClass="p-datatable-customers"
                [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [globalFilterFields]="customTable">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex">
                        <span class="p-input-icon-left p-ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="colgroup" let-columns>
                  <colgroup >
                      <col style="width:250px" *ngFor="let col of widget.metaDataSources">
                  </colgroup>
              </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                      <th *ngFor="let th of widget.metaDataSources" id="col">
                          {{th.label}}
                      </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-tab>
                  <tr>
                      <td  *ngFor="let th of widget.metaDataSources">
                          <div class="description">

                              {{tab[th.key] | formatingData}}
                          </div>
                      </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="5">No results found.</td>
                    </tr>
                </ng-template>
            </p-table>
            <!--Filter and Pagination End -->
          </div>
          <div *ngSwitchCase="widgetTypeEnum.Card">
                  <p-card styleClass="cardColor">
                      <div class="p-d-flex">
                          <p  style="font-weight: bold;">{{results.label}}</p>
                      <p-divider layout="vertical" ></p-divider>
                      <p  style="font-weight: 500;">{{results.key | formatingData}}</p>
                      </div>
                  </p-card>
          </div>
          <div *ngSwitchDefault>
              <p-chart type="{{widget.widgetType.type}}" [data]="chartResults" [options]="basicOptions">
              </p-chart>
            </div>
      </div>
  </p-card>
  <br>
  <button pButton pRipple style="margin:5px;" icon="pi pi-file-pdf" (click)="onExportPdf()" label="&nbsp;Export&nbsp;" class="p-button-rounded p-button-success"></button>
   <!--widget details-->
