<div class="my-card">
    <div class="p-col-12 p-fluid p-grid">
        <div class="p-field p-col-12 p-md-6">
            <p-table [value]="allKeys" [scrollable]="true" scrollHeight="250px" [style]="{ width: '450px' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Measures</th>
                        <th></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-tab>
                    <tr>
                        <td>{{ tab.key }}</td>
                        <td></td>
                        <td>
                            <button pButton pRipple type="button" icon="pi pi-check"
                                class="p-button-rounded p-button-outlined"
                                (click)="onSelectedKey(tab.key, tab.id)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="p-field p-col-12 p-md-6" *ngIf="widget.metaDataSourceDataModels">
            <p-table [value]="widget.metaDataSourceDataModels" [scrollable]="true" scrollHeight="250px"
                [style]="{ width: '450px' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Selected Keys</th>
                        <th>Labels</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-tab>
                    <tr>
                        <td>{{ tab.key }}</td>
                        <td>
                            <input type="text" pInputText [(ngModel)]="tab.label" name="{{ tab.label }}"
                                placeholder="Add a label" />
                        </td>
                        <td>
                            <button pButton pRipple type="button" icon="pi pi-times"
                                class="p-button-rounded p-button-danger p-button-outlined"
                                (click)="onRemovedKey(tab.key, tab.id)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

      
        <div class="p-field p-col-12 p-md-12" style="width: 670px">
            <p-table [value]="results" [scrollable]="true" scrollHeight="400px" [style]="{ width: '915px' }">
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col style="width: 250px" *ngFor="let col of widget.metaDataSourceDataModels" />
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th *ngFor="let th of widget.metaDataSourceDataModels">
                            {{ th.label }}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-tab>
                    <tr>
                        <td *ngFor="let th of widget.metaDataSourceDataModels">
                            {{ tab[th.key] }}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="p-col-12 Col12">
            <p-divider></p-divider>
        </div>
    </div>
</div>