<div class="my-card">
    <div class="p-col-12 p-fluid p-grid">
        <div class="p-field p-col-12 p-md-12" *ngIf="newCard">
            <h5>Available Keys</h5>
            <p-dropdown required name="dimensionKey" [options]="allKeys" [(ngModel)]="cardKey" editable="true"
                optionLabel="key" (ngModelChange)="onSelectedDimension($event)"></p-dropdown>
        </div>
        <div class="p-field p-col-12 p-md-12" *ngIf="updateCard">
            <h5>Selected Key</h5>
            <input type="text" pInputText [(ngModel)]="widget.metaDataSources[0].label"
                name="{{widget.metaDataSources[0].label}}" placeholder="Add a label" />
        </div>
        <div class="p-field p-col-12 p-md-12" style="width: 200px" *ngIf="widget.metaDataSources.length!=0">
                <p-card styleClass="cardColor">
                    <ng-template pTemplate="header">

                        <input type="text" pInputText [(ngModel)]="widget.metaDataSources[0].label"
                            name="{{widget.metaDataSources[0].label}}" placeholder="Add a label" />
                    </ng-template>
                    {{ cardRes | formatingData }}
                    <ng-template pTemplate="footer">

                    </ng-template>
                </p-card>
        </div>
    </div>

</div>