
<form (ngSubmit)="onSubmit(newDashboard)" #newDashboard="ngForm">
    <div class="p-grid"  style="text-align:center">
        <div class="p-col-6">
            <h4>Create Dashboard</h4>
        </div>
        <div class="p-col">
            <div class="box">
                <h5>Title</h5>
                <input type="text" pInputText [(ngModel)]="title" name="title" />
                <h5>Description</h5>
                <textarea
                name="description"
                type="text"
                rows="4"
                pInputTextarea
                [(ngModel)]="description"
              ></textarea>
            </div>
        </div>
        <div class="p-col-6">
            <p-button
              label="Save"
              icon="pi pi-check"
              type="submit"
              iconPos="left"
            ></p-button>
          </div>
     </div>
</form>