
<form (ngSubmit)="onSubmit(newDashboard)" #newDashboard="ngForm">
    <div class="p-grid">
        <div class="p-col">
          <h4>Create Dashboard</h4>
            <div class="box">
                <h5>Title *</h5>
                <input type="text" pInputText [(ngModel)]="title" name="title" required/>
                <h5>Description</h5>
                <textarea
                name="description"
                type="text"
                rows="4"
                pInputTextarea
                [(ngModel)]="description"
              ></textarea>
            </div>
            <p-button
            [disabled]="!newDashboard.valid"
              label="Save"
              icon="pi pi-check"
              type="submit"
              iconPos="left"
            ></p-button>
        </div>
     </div>
</form>