
<form (ngSubmit)="onSubmit(newDashboard)" #newDashboard="ngForm">
    <div class="p-grid">
        <br class="p-col">
          <h4>Create Dashboard</h4>
            <div class="box">
                <h5>Title *</h5>
                <input type="text" pInputText [(ngModel)]="title" name="title" required/>
                <h5>Description</h5>
                <textarea
                name="description"
                type="text"
                rows="4"
                pInputTextarea
                [(ngModel)]="description"
              ></textarea>
              <div>
                <h5>Team </h5>
                <p-dropdown [options]="teams" [(ngModel)]="selectedTeam" name="selectedAuthetification" optionLabel="name" [showClear]="true"></p-dropdown>
              </div>
            </div>
          <br/>
          <button pButton pRipple [disabled]="!newDashboard.valid"   type="submit" label="Save" class="p-button-rounded p-button-help"></button>
        </div>

</form>