<form (ngSubmit)="onSubmit(widash)" #widash="ngForm">
<div class="p-grid" *ngIf="load">

  <div class="p-col-12">
    <h4>Configure widget</h4>
  </div>
  <div class="p-col-fixed" style="width: 670px">
    <div class="box">
      <div style="height: 300px; background-color: gainsboro">
        <p-chart
          type="{{ type }}"
          [data]="basicData"
          [options]="basicOptions"
        ></p-chart>
      </div>
    </div>
  </div>
    <div class="p-col">
      <div class="box">
        <h5>Title</h5>
        <input type="text" 
               pInputText 
               [(ngModel)]="dashWidget.title"
               name="title" />
        <h5>Description</h5>
        <!--label for="description">Description</label-->
        <textarea
          name="description"
          type="text"
          rows="4"
          pInputTextarea
          [(ngModel)]="dashWidget.description"
        ></textarea>
      </div>
    </div>
    <br/>
    <br/>
    <div class="p-col-12">
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
          <label for="query">Queries</label>
          <p-dropdown
            inputId="query"
            name="selectedQuery"
            [options]="queries"
            [(ngModel)]="selectedQuery"
            placeholder="Select"
            (ngModelChange)="SelectedQuery()"
            optionLabel="name"
          ></p-dropdown>
        </div>
        <div class="p-field p-col">
          <label for="visualisation">Visualisation</label>
          <div
            class="p-mr-2 p-col"
            style="height: 50px; background-color: ghostwhite"
          >
            <div *ngFor="let vis of widgetTypes">
              <img src="{{ vis.img }}" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="p-col-12">
      <p-button
        label="Save"
        icon="pi pi-check"
        type="submit"
        iconPos="left"
      ></p-button>
    </div>
</div>
</form>
