<form (ngSubmit)="onSubmit(widash)" #widash="ngForm">
<div class="p-grid" *ngIf="load">

  <div class="p-col-12">
    <h4>Configure widget</h4>
  </div>
  <div class="p-col-fixed" style="width: 670px">
    <div class="box">
      <!--div style="height: 300px; background-color: gainsboro"-->
      <div [ngSwitch]="type">
        <div *ngSwitchCase="'Table'">
          <p-table [value]="myTable">
            
            <ng-template pTemplate="header">
                <tr>
                    <th>Dimension</th>
                    <th>{{selectedQuery.mesure1}}</th>
                    <th>{{selectedQuery.mesure2}}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-tab>
                <tr>
                    <td>{{tab.dimension}}</td>
                    <td>{{tab.mesure1}}</td>
                    <td>{{tab.mesure2}}</td>
                </tr>
            </ng-template>
        </p-table>
        </div>
        <div *ngSwitchCase="'Card' || 'Number'">Card</div>
        <div *ngSwitchDefault>
          <p-chart
          type="{{ type }}"
          [data]="basicData"
          [options]="basicOptions"
        ></p-chart>
        </div>
      </div>
     
   
    </div>
  </div>
    <div class="p-col">
      <div class="box">
        <h5>Title</h5>
        <input type="text" 
               pInputText 
               [(ngModel)]="dashWidget.title"
               name="title" />
        <h5>Description</h5>
        <!--label for="description">Description</label-->
        <textarea
          name="description"
          type="text"
          rows="4"
          pInputTextarea
          [(ngModel)]="dashWidget.description"
        ></textarea>
      </div>
    </div>
    <div class="p-col-12 Col12">
      <p-divider></p-divider>
    </div>
    <div class="p-col-6" >
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
          <label for="query">Queries</label>
          <p-dropdown
            inputId="query"
            name="selectedQuery"
            [options]="queries"
            [(ngModel)]="selectedQuery"
            placeholder="Select"
            (ngModelChange)="SelectedQuery()"
            optionLabel="name"
          ></p-dropdown>
        </div>
        <div class="p-field p-col">
          <label for="visualisation">Visualisation</label>
          <p-dropdown 
          [options]="widgetTypes" 
          [(ngModel)]="selectedWidgetType" 
          name= "selectedWidgetType" 
          (ngModelChange)="SelectedWidgetType()"
          optionLabel="type" 
          [filter]="true" 
          filterBy="type" 
          [showClear]="true" 
          placeholder="Select a visualisation">
            <ng-template pTemplate="selectedItem">
                <div class="widgetType-item widgetType-item-value" *ngIf="selectedWidgetType.type">
                    <div class="center"> <img src="{{ selectedWidgetType.img }}"/> {{ selectedWidgetType.type }}</div>
                </div>
            </ng-template>
            <ng-template let-widgetType pTemplate="item">
                <div class="widgetType-item">
                    <div class="center"> <img src="{{ widgetType.img }}"/> {{ widgetType.type }}</div>
                </div>
            </ng-template>
        </p-dropdown>
        </div>
      </div>
    </div>
    <div class="p-col-6">
      <p-button
        label="Save"
        icon="pi pi-check"
        type="submit"
        iconPos="left"
      ></p-button>
    </div>
</div>
</form>
