img {
  width: 50px;
  height: 50px;
}
.Col12 {
  margin-top: 30px;
}
.center img {
  margin-right: 10px;
}

.Col12 {
  margin-top: 30px;
}
img {
  width: 50px;
  height: 50px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center img {
  margin-right: 10px;
}
.partition {
  display: grid;
  grid-template-columns: 1fr 3fr;
  .flex-start {
    justify-content: flex-start;
  }
}
.containSize {
  contain: size;
  height: auto;
  margin-top: 30px;
}

p-table{
  display: inline-block;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box{
  margin-left: 10px;
}
.my-card{
  padding: 0px 5em;
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica,
    Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
  text-align: center;
  text-shadow: 10px;
}
