<form (ngSubmit)="onSubmit(widash)" #widash="ngForm">
  <div class="p-grid" *ngIf="load">

    <div class="p-col-12">
      <h4>Configure widget</h4>
    </div>

    <div class="p-col">
      <div class="box">
        <h5>Title</h5>
        <input type="text" pInputText [(ngModel)]="dashboardWidget.title" name="title" />
        <h5>Description</h5>
        <textarea name="description" type="text" rows="4" pInputTextarea
          [(ngModel)]="dashboardWidget.description"></textarea>
      </div>
    </div>

    <div class="p-col-12 Col12">
      <p-divider></p-divider>
  </div>
  <div class="p-col-6">
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col">
        <label for="visualisation">Visualisation</label>
        <p-dropdown [options]="widgetTypes" [(ngModel)]="selectedWidgetType" name="selectedWidgetType"
          (ngModelChange)="SelectedWidgetType()" optionLabel="type" [filter]="true" filterBy="type" [showClear]="true"
          placeholder="Select a visualisation">
          <ng-template pTemplate="selectedItem">
            <div class="widgetType-item widgetType-item-value" *ngIf="selectedWidgetType.type">
              <div class="center">
                <img src="{{ selectedWidgetType.imagePath }}" alt="{{selectedWidgetType.type}}" />
                {{ selectedWidgetType.type }}
              </div>
            </div>
          </ng-template>
          <ng-template let-widgetType pTemplate="item">
            <div class="widgetType-item">
              <div class="center">
                <img src="{{ widgetType.imagePath }}" alt="{{widgetType.type}}" /> {{ widgetType.type }}
              </div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>

      <div class="p-field p-col-12">
        <div class="box" *ngIf="selectedWidgetType">
          <div [ngSwitch]="selectedWidgetType.type">
            <div *ngSwitchCase="widgetTypeEnum.Table">
              <!--app-table (added)="onAddedClick($event)"></app-table-->
            </div>
            <div *ngSwitchCase="widgetTypeEnum.Card">
              <!--app-card (added)="onAddedClick($event)"></app-card-->
            </div>
            <div *ngSwitchDefault>
              <app-graph [dashWidget]="dashboardWidget" [selectedWidgetType]="selectedWidgetType" (added)="onAddedClick($event)"></app-graph>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--div class="p-col-6">
    <p-button label="Save" icon="pi pi-check" type="submit" iconPos="left"></p-button>
  </div-->
</div>
</form>