<div class="p-col-12" style="text-align:center">
    <h3>Saved Queries</h3>
</div>
<p-table selectionMode="single"  [value]="queries">
    <ng-template pTemplate="header">
        <tr>
            <th>Title</th>
            <th>Data Source Type</th>
            <th style="width:4rem"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tab>
        <tr >
            <td (click)="queryDetails(tab.id)">{{tab.title}}</td>
            <td (click)="queryDetails(tab.id)">{{tab.type}}</td>
            <td>
                <button type="button" pButton pRipple icon="pi pi-fw pi-trash" (click)="deleteQuery(tab.id)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>
<div class="p-col-6">
    <p-button
      label="New Query"
      icon="pi pi-check"
      routerLink='/dataSource'
      type="submit"
      iconPos="left"
    ></p-button>
  </div>