<form (ngSubmit)="onSubmit(widash)" #widash="ngForm">
  <div class="p-grid">
    <div class="p-col-12">
      <h3>Add New Widget</h3>
    </div>
    
    <div class="p-fluid p-grid">
      <div class="p-field p-col-12 p-md-5">
        <h5>Title</h5>
        <input type="text" pInputText [(ngModel)]="widget.title" name="title" />
           </div>
      <div class="p-field p-col-12 p-md-7">
        <h5>Description</h5>
        <textarea
          name="description"
          type="text"
          rows="4"
          pInputTextarea
          [(ngModel)]="widget.description"
        ></textarea>    </div>
    </div>

    <div class="p-col-12">
      <div class="p-fluid p-formgrid p-grid">
        
        <div class="p-field p-col">
          <label for="visualisation">Visualisation</label>
          <p-dropdown
            [options]="widgetTypes"
            [(ngModel)]="selectedWidgetType"
            name="selectedWidgetType"
            (ngModelChange)="OnSelectedWidgetType()"
            optionLabel="type"
            [filter]="true"
            filterBy="type"
            [showClear]="true"
            placeholder="Select a visualisation"
          >
            <ng-template pTemplate="selectedItem">
              <div
                class="widgetType-item widgetType-item-value"
                *ngIf="selectedWidgetType.type"
              >
              
              <!-- here -->
             
              <!-- here -->

                <div class="center">
                  <img src="{{ selectedWidgetType.imagePath }}" alt="{{selectedWidgetType.type}}" />
                  {{ selectedWidgetType.type }}
                </div>
              </div>
            </ng-template>
            <ng-template let-widgetType pTemplate="item">
              <div class="widgetType-item">
                <div class="center">
                  <img src="{{ widgetType.imagePath }}" alt="{{widgetType.type}}" /> {{ widgetType.type }}
                </div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>

        <div class="box">
          <div [ngSwitch]="widgetType">
            <div *ngSwitchCase="widgetTypeEnum.Table">
              <app-table></app-table>
            </div>
            <div *ngSwitchCase="widgetTypeEnum.Card">
            </div>
            <div *ngSwitchDefault> 
            </div>
          </div>
        </div>
       
        <!-- To be removed
        <div class="p-field p-col" *ngIf="showQueries">
          <label for="query">Queries</label>
          <p-dropdown
            inputId="query"
            name="selectedQuery"
            [options]="queries"
            [(ngModel)]="selectedQuery"
            placeholder="Select"
            (ngModelChange)="onSelectedQuery()"
            optionLabel="title"
          ></p-dropdown>
        </div>
      -->
      </div>
      <div class="p-col-12">
        <div class="p-field p-col" *ngIf="showKeys">
          <div class="card">
            <div class="p-col-12" *ngIf="isGraph">
              <label>Dimension</label> <br>
            <p-dropdown name="dimensionKey" [options]="allKeys" [ngModel]="dimensionKey" editable="true" optionLabel="key"  (ngModelChange)="onSelectedDimension($event)"></p-dropdown>
            <!--div class="p-col-12" *ngIf="isGraph">
              <p-button
                label="Next"
                icon="pi pi-check"
                iconPos="left"
                (click)="setDimensionTrue()"
              ></p-button>
            </div-->
            </div>

            <div class="card">
              <p-splitter [style]="{'height': '300px','width': '100px'}" styleClass="p-mb-5">
                  <ng-template pTemplate>
                      <div class="p-col p-d-flex p-ai-center p-jc-center">
                        <p-table [value]="allKeys" [scrollable]="true" scrollHeight="250px" [style]="{width:'300px'}">
                          <ng-template pTemplate="header">
                              <tr>
                                  <th>Mesures</th>
                                  <th>          </th>
                                  <th>          </th>
                              </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-tab>
                              <tr>
                                  <td>{{tab.key}}</td>
                                  <td>           </td>
                                  <td><p-button (click)="onSelectedKey(tab.key, tab.id)" icon="pi pi-check"></p-button></td>
                              </tr>
                          </ng-template>
                      </p-table>
                      </div>
                  </ng-template>
                  <ng-template pTemplate>
                      <div class="p-col p-d-flex p-ai-center p-jc-center">
                        <div class="p-field p-col" *ngIf="showKeys">
                          <div class="card">
                            <p-table [value]="selectedKeys" [scrollable]="true" scrollHeight="250px" [style]="{width:'500px'}">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Selected Keys</th>
                                        <th>Labels</th>
                                        <th>          </th>
                                        
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-tab>
                                    <tr>
                                        <td>{{tab.key}}</td>
                                        <td>
                                        <input type="text" pInputText [(ngModel)]="tab.label" name="{{tab.label}}"  placeholder="Add a label"/>  
                                        </td>     
                                        <td><p-button (click)="onRemovedKey(tab.key)" icon="pi pi-times"></p-button></td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                        </div>
                      </div>
                  </ng-template>
              </p-splitter>
          </div> 
        </div>
        </div>
 
      </div>
    </div>

    <div class="p-col-12" *ngIf="labelsWrited">
      <p-button
        label="Preview"
        [disabled]="preview"
        icon="pi pi-check"
        (click)="draw()"
        iconPos="left"
      ></p-button>
    </div>
    <div class="p-col-fixed" style="width: 670px" *ngIf="drawType && selectedKeys.length!=0">
      <div class="box">
        <div [ngSwitch]="widgetType">
          <div *ngSwitchCase="widgetTypeEnum.Table">

            <p-table [value]="results" [scrollable]="true" scrollHeight="400px">
              <ng-template pTemplate="header">
                  <tr>
                      <th  *ngFor="let th of selectedKeys" >{{th.label}}</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-tab>
                  <tr>
                      <td  *ngFor="let th of selectedKeys">{{tab[th.key]}}</td>
                  </tr>
              </ng-template>
          </p-table>
          </div>

          <div *ngSwitchCase="widgetTypeEnum.Card">
            <p-card class="containSize partition">
              <ng-template pTemplate="header">
                  {{Widget.title}}
              </ng-template>
              {{results.Total}}
              <ng-template pTemplate="footer">
                  
              </ng-template>
          </p-card>
          </div>
          
          <div *ngSwitchDefault> 
            <p-chart
            type="{{widgetType}}"
            [data]="basicData"
            [options]="basicOptions"
          ></p-chart>
          </div>
        </div>
      </div>
    </div>

    <div class="p-col-12 Col12">
      <p-divider></p-divider>
    </div>

    <div class="p-col-6">
      <p-button
        label="Save"
        icon="pi pi-check"
        type="submit"
        iconPos="left"
      ></p-button>
    </div>
  </div>
</form>


